# Ignore Docker-related files
Dockerfile*
.dockerignore
docker-compose.yml

# OS / editor
.DS_Store
.vscode
.idea

# git
.git
.gitignore

# dependencies
node_modules

# Build outputs
dist
build
out

# logs
npm-debug.log
yarn-debug.log
yarn-error.log

# env files
.env*